
@import url('https://fonts.googleapis.com/css2?family=Lobster:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* VARIABLE CSS================================================================================- */
/*-============================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #05364B;
    --accent-color: #718EA3;
    --text-color-w: #F7F9FC;
    --text-color-b: #000E1D;
    --container-color: #AFBCC1;
    --body-color: #F7F9FC;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Lato', sans-serif;
    --title-font: 'Lobster', serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --mar-sml: .5rem;
    --mar-1: 1rem;
    --mar-2: 1.5rem;
    --mar-3: 2rem;
    --mar-4: 3rem;
    --mar-5: 4rem;

    --gap-1: 1rem;
    --gap-2: 1.5rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;

    --header-height: 3rem;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    --border-radius: 24px;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color-b);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* RESPONSIVE BREAKPOINTS======================================================================- */

/* FOR SML MOBILE */
@media screen and (max-width : 389px){
    .container{
        margin: 0 1rem;
    }
}

/* FOR MOBILE */
@media screen and (min-width: 390px){
    .container{
        max-width: 326px;
        margin: 0 auto;
    }
}

/* FOR TABLE  */
@media screen and (min-width: 744px){
    .container{
        max-width: 648px;
        margin: 0 auto;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1100px){
    .container{
        max-width: 1080px;
        margin: 0 auto;
    }
}
/*-============================================================================================- */

/* REUSABLE CSS CLASSES========================================================================- */

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding-bottom: 8rem;
    overflow: hidden;
}

.section-title{
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.section-subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-light);
}

.p-text{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.transition{
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* CSS COMPONENTS =============================================================================- */

/* BUTTONS */
.button{
    width: 239px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.button p{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}
/* -------- */

/* COMPONENT 1 */
.component-1{
    position: relative;
    height: 352px;
    width: 239px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.component-1 .info{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    height: 32px;
    min-width: 135px;
    background-color: #000e1d6a;
    border: 1px solid var(--text-color-w);
    border-radius: 8px;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.component-1 .info p{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    color: var(--text-color-w);
    padding: 8px 0;
}
/* ----------- */

/* COMPONENT 2 */
.component-2{
    position: relative;
    height: 384px;
    width: 326px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.component-2 .info{
    position: absolute;
    bottom: 24px;
    left: 24px;
    height: 32px;
    min-width: 228px;
    background-color: #000e1d6a;

    display: grid;
    place-items: center;
    border: 2px solid var(--text-color-w);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.component-2 .info p{
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--text-color-w);
    font-weight: var(--font-bold);
}

.component-2 .icon{
    position: absolute;
    top: 24px;
    right: 24px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--body-color);
    display: grid;
    place-items: center;
}
/* ----------- */

/* COMPONENT 3 */
.component-3{
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.component-3 .img-container{
    width: 100%;
    height: 214px;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.component-3 .item-name{
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
}

.component-3 .item-price{
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}
/* ----------- */
/*-============================================================================================- */

/* HOME SECTION ===============================================================================- */
.home{
    color: var(--text-color-w);
    width: 100%;
    color: var(--text-color-b);
}

.home-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 204px;
}

.home-container{
    padding-top: 157px;
    gap: var(--mar-3);
    z-index: 5;
}

.home-subtitle{
    z-index: 10;
}

.home-title{
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    z-index: 10;
}

.home-container .p-text{
    font-weight: var(--font-light);
}

.home-button{
    background-color: var(--primary-color);
    color: var(--text-color-w);
    margin-top: 1rem;
}

.home-list-scroll-container{
    /* width: 326px; */
    height: 352px;
    overflow: visible;
    position: relative;
    margin-top: 1rem;
}

.home-list{
    position: absolute;
    z-index: 20;
    display: flex;
    gap: var(--gap-2);
    /* width: 765px; */
    width: max-content;
}

.instruction-text{
    margin-bottom: 1rem;
    font-weight: var(--font-light);
}

.home-background{
    content: '';
    width: 100%;
    height: 788px;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 70%; */
    z-index: -1;
}
/*-============================================================================================- */

/* FEATURED SECTION ===========================================================================- */
.featured-container{
    gap: var(--mar-3);
    overflow: hidden;
}

.featured-frame-two{
    gap: var(--gap-2);
}

.featured-thumbs-list-item{
    position: relative;
    height: 151px;
    width: 151px;
    border-radius: var(--border-radius);
    background-color: red;
    overflow: hidden;
}

.featured-buttons-container{
    display: flex;
    gap: var(--gap-2);
    align-self: center;
}

.featured-prev,
.featured-next{
    height: 64px;
    width: 64px;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    font-size: 2rem;
}

.featured-prev{
    border: 4px solid var(--text-color-b);
    color: var(--text-color-b);
}

.featured-next{
    background-color: var(--text-color-b);
    color: var(--text-color-w);
}
/*-============================================================================================- */

/* MENU SECTION ===============================================================================- */
.menu-container{
    gap: var(--mar-3);
}

.menu-selection-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--gap-1);
    column-gap: var(--gap-2);
    align-items: center;
    transition: all .4s ease-in-out;
}

.selection-list-item{
    width: 151px;
    height: 32px;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    display: grid;
    place-items: center;
    transition: all .4s ease-in-out;
}

.selection-list-item p{
    font-weight: var(--font-regular);
    color: var(--accent-color);
}

.selection-list-item.active-featured{
    border: none;
    background-color: var(--primary-color);
    width: 326px;
}

.selection-list-item.active-featured p{
    color: var(--text-color-w);
}

.menu-items-list{
    grid-template-columns: repeat(2 , 1fr);
    gap: var(--gap-2);
}
/*-============================================================================================- */

/* ABOUT SECTION ==============================================================================- */
.about-container{
    display: flex;
    flex-direction: column;
    gap: var(--mar-4);
}

.about-frame-one{
    gap: var(--mar-3);
}

.about-title{
    margin-bottom: var(--mar-3);
}

.about-button{
    color: var(--text-color-w);
    background-color: var(--accent-color);
}

.about-img-container{
    position: relative;
    width: 100%;
    height: 472px;
    overflow: hidden;
    border-radius: var(--border-radius);
}
/*-============================================================================================- */

/* CONTACT SECTION ============================================================================- */
.contact-container{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
}

.contact-frame-one{
    gap: var(--mar-3);
}

.contact-list{
    gap: var(--gap-1);
}

.contact-list-item{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.circle{
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.contact-frame-two{
    padding-top: 247px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-button{
    background-color: var(--accent-color);
    color: var(--text-color-w);
}

.contact-img{
    z-index: -1;
}

.etx{
    font-size: var(--small-font-size);
    margin-top: 3rem;
    font-weight: var(--font-bold);
    /* text-align: center; */
}
/*-============================================================================================- */


/* RESPONSIVE BREAKPOINTS =====================================================================- */
/* TABLET */
@media screen and (min-width: 744px){

    .home-title{
        font-size: var(--big-font-size);
    }

    .home-subtitle{
        font-size: var(--h2-font-size);
    }

    .button{
        width: 252px;
    }

    .component-1{
        width: 312px;
        height: 352px;
    }

    .featured-container{
        flex-direction: row;
        gap: var(--gap-2);
    }

    .featured-frame-one,
    .featured-frame-two{
        width: 381px;
        overflow: hidden;
    }

    .featured-buttons-container{
        align-self: flex-start;
    }

    .component-2{
        width: 312px !important;
        height: 381px !important;
    }

    .swiper-slide-next.component-2{
        visibility: hidden !important;
    }

    .featured-thumbs-list-item{
        width: 144px !important;
        height: 160px !important;
    }

    .menu-selection-list{
        column-gap: 8px;
    }

    .component-3 .img-container{
        height: 320px;
    }

    .about-frame-one{
        flex-direction: row;
        justify-content: space-between;
    }

    .about-frame-one div{
        max-width: 344px;
    }

    .about-button{
        align-self: flex-end;
    }

    .about-img-container{
        height: 342px;
    }

    .contact-frame-two{
        padding-top: 32px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1100px){

    .home-container .p-text{
        font-size: var(--h4-font-size);
    }

    .component-1{
        width: 344px;
        height: 352px;
    }

    .instruction-text{
        display: none;
    }

    .featured-container{
        justify-content: space-between;
        align-items: center;
    }

    .featured-frame-one{
        width: 436px;
    }

    .featured-frame-two{
        width: 528px;
    }

    .component-2{
        width: 436px !important;
        height: 472px !important;
    }

    .featured-thumbs-list-item{
        width: 160px !important;
    }

    .menu-items-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .component-3 .img-container{
        width: 344px;
    }

    .about-container{
        flex-direction: row;
        justify-content: space-between;
        gap: var(--gap-2);
    }

    .about-frame-one{
        flex-direction: column;
        width: 528px;
        justify-content: center;
        align-items: center;
    }

    .about-button{
        align-self: flex-start;
        margin-left: 92px;
    }

    .about-img-container{
        width: 528px;
        height: 472px;
    }

}